PDF_PATH = ""

GROQ_API_KEY = "please provide your Groq API key here"
GROQ_BASE_URL = "https://api.groq.com/openai/v1"
TOP_K = 10


# RAG Configuration

CHUNK_SIZE = 1000
CHUNK_OVERLAP = 200

# Embedding Model Configuration
EMBEDDING_MODEL = "sentence-transformers/all-MiniLM-L6-v2"
RERANKING_MODEL = "cross-encoder/ms-marco-MiniLM-L-6-v2"

COLLECTION_NAME = "harness_data"
CHROMA_DB_PATH = "chromadb"