PDF_PATH = ""

GROQ_API_KEY = "please provide your Groq API key here"


# RAG Configuration

CHUNK_SIZE = 1000
CHUNK_OVERLAP = 200

# Embedding Model Configuration
EMBEDDING_MODEL = "sentence-transformers/all-MiniLM-L6-v2"